:root {
    /* Colors */
    --color-primary: #60a5fa;
    --color-primary-light: #bfdbfe;
    --color-primary-dark: #2563eb;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-gray: #f3f4f6;
    --color-red: #f87171;
    --color-green: #34d399;

    /* Spacing */
    --spacing-xs: 0.25rem;
    --spacing-sm: 0.5rem;
    --spacing-md: 1rem;
    --spacing-lg: 1.5rem;
    --spacing-xl: 2.5rem;

    /* Font sizes */
    --font-size-sm: 0.875rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.25rem;
    --font-size-xl: 1.5rem;
    --font-size-xxl: 2rem;

    /* Borders */
    --border-radius-sm: 0.375rem;
    --border-radius-md: 0.5rem;
    --border-radius-lg: 0.75rem;
}

* {
    box-sizing: border-box;
}

/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0%;
}

header {
    padding: var(--spacing-sm);
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--color-primary);
    color: var(--color-white);
}

header h1 {
    font-size: var(--font-size-xxl);
    font-weight: bold;
}

main {
    margin: var(--spacing-lg);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#equation-image{
    width: 20rem;
}

.input-form{
    margin: var(--spacing-sm);
    padding: var(--spacing-xs);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
}

.input-component{
    margin: 1px;
}

.input-field{
    background-color: transparent;
    border: solid;
    border-radius: 0.25rem;
    color: #000000;
}

#submit-btn{
    margin: 20px;
    padding: 10px;
    font-size: 16px;
    background-color: var(--color-primary);
    color: var(--color-white);
    border: solid;
    border-color: var(--color-primary);
    border-radius: 0.5rem;
    transition-duration: 200ms;
}

#submit-btn:hover{
    background-color: transparent;
    color: var(--color-primary);
    transition-duration: 200ms;
}

.machine{
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
    box-sizing: border-box;
}

.track-active {
    display: flex;
    overflow-x: scroll;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

.track-inactive {
    display: flex;
    overflow-x: scroll;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

.symbol-active {
    flex: 0 0 auto;
    width: 2rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.25rem;
    background-color: hsl(197, 100%, 50%);
    border-color: hsl(197, 100%, 50%);
    border-width: 0.1rem;
    border-style: solid;
    margin: 0.15rem;
}

.symbol-inactive {
    flex: 0 0 auto;
    width: 2rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.25rem;
    background-color: transparent;
    border-color: hsl(197, 100%, 50%);
    border-width: 0.1rem;
    border-style: solid;
    color: hsl(197, 100%, 50%);
    margin: 0.15rem;
}